body{
margin:0;
font-family:Poppins;
background:linear-gradient(135deg,#eef2ff,#f5f3ff);
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:white;
}

.menu{
display:flex;
gap:20px;
list-style:none;
}

.menu a{
text-decoration:none;
color:black;
}

.logo{
display:flex;
align-items:center;
gap:10px;
}

.logo img{
width:45px;
height:45px;
}

/* hero */

.hero{
display:flex;
align-items:center;
justify-content:center;
gap:80px;
padding:120px 10%;
position:relative;
}

.banner{
background:#6366f1;
color:white;
padding:8px 20px;
border-radius:20px;
margin:15px 0;
}

.btn{
background:#6366f1;
color:white;
padding:12px 30px;
border-radius:30px;
text-decoration:none;
}

.hero-images{
display:grid;
grid-template-columns:repeat(2,150px);
gap:15px;
}

.hero-images img{
width:150px;
border-radius:15px;
}

/* blobs */

.blob{
position:absolute;
border-radius:50%;
filter:blur(80px);
opacity:0.4;
animation:float 6s infinite ease-in-out;
}

.blob1{
width:200px;
height:200px;
background:#a5b4fc;
top:0;
left:0;
}

.blob2{
width:250px;
height:250px;
background:#c084fc;
right:100px;
top:150px;
}

.blob3{
width:180px;
height:180px;
background:#67e8f9;
bottom:0;
left:200px;
}

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(40px)}
100%{transform:translateY(0)}
}

.stats{
display:flex;
justify-content:center;
gap:80px;
padding:80px;
}

.stat h2{
font-size:50px;
color:#6366f1;
}

.about{
padding:100px;
text-align:center;
max-width:900px;
margin:auto;
}

.director{
display:flex;
align-items:center;
justify-content:center;
gap:80px;
padding:100px;
}

.director-img img{
width:250px;
border-radius:20px;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
padding:80px;
}

.card{
background:white;
padding:30px;
border-radius:20px;
width:220px;
text-align:center;
}

.gallery-grid{
display:flex;
justify-content:center;
gap:20px;
padding:80px;
}

.gallery-grid img{
width:250px;
border-radius:20px;
}

.testimonial{
display:none;
background:white;
padding:40px;
width:400px;
margin:auto;
border-radius:20px;
}

.testimonial.active{
display:block;
}

.contact{
text-align:center;
padding:80px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50%;
font-size:25px;
}

footer{
background:#1e1b4b;
color:white;
text-align:center;
padding:20px;
}